.profile__edit-button {
    background-image: url(../../../images/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    border: 1px solid #fff;
    background-color: #000;
    max-width: 24px;
    max-height: 24px;
    width: 100%;
    margin-left: 18px;
    margin-top: 15px;
    padding: 0 0;
}

.profile__edit-button:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media (max-width: 900px) {
    .profile__edit-button {
        margin-top: 8px;
        max-width: 18px;
        max-height: 18px;
        margin-left: 10px;
    }
}