.popup__description {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    max-width: 358px;
    width: 100%;
    border: none;
    border-bottom: solid 1px #000;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 13px;
    padding-top: 0;
    outline: none;
}

.popup__description:focus {
    background-color: rgba(0, 0, 0, 0.2);
}