.element__btn-like {
    background-image: url(../../../images/like.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    max-width: 22px;
    width: 100%;
    border: none;
    background-color: #fff;
    cursor: pointer;
    margin-right: 20px;
    max-height: 19px;
    margin-top: 30px;
}

.element__btn-like:hover {
    cursor: pointer;
    opacity: 0.6;
}

.element__btn-like:focus {
    background-image: url(../../../images/Union.png);
}