.header {
    max-width: 880px;
    width: 100%;
    margin: 45px auto 0;
    padding-bottom: 40px;
    border-bottom: 1px solid;
    border-color: hsla(0, 0%, 33%, .7);
}

@media (max-width: 1024px) {
    .header {
        padding-bottom: calc(31px + (40 - 31.5) * ((100vw - 320px) / (1024 - 320)));
        padding-left: calc(27px + (0 - 27) * ((100vw - 320px) / (1024 - 320)));
    }
}