.element__btn-like {
    background-image: url(../../../images/like.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px 19px;
    width: 22px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 20px;
    height: 19px;
    margin-top: 30px;
    padding: 0;
    margin-left: auto;
}

.element__btn-like:hover {
    cursor: pointer;
    opacity: 0.6;
}

.element__btn-like:focus {
    background-image: url(../../../images/Union.png);
}